* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(247, 244, 244);
    display: flex;
    flex-direction: column;
    position: relative;
}

.marcar {
    cursor: pointer;
}

a{
    text-decoration: none;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1.4rem;
}

.iconoSetting {
    font-size: 1.5em;
}

section.partePrincipal {


    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .titulo {
        padding-top: 1.8rem;
        display: flex;
        gap: 0.3rem;
        margin-left: 0.7rem;
        font-size: 1.4em;
        font-weight: 700;
    }

    .buscador {
        justify-content: space-between;
        margin: 5%;
        height: 3rem;
        display: flex;

        .inputBuscar {
            padding: 1rem;
            border-radius: 2.5rem 0 0 2.5rem;
            border: none;

            width: calc(100% - 3rem);
            outline: none;
        }

        .iconoBuscar {
            border-radius: 0 2.5rem 2.5rem 0;
            display: grid;
            place-items: center;
            width: 3rem;
            background-color: white;
            cursor: pointer;
        }
    }

    .contenedorIconos {

        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2.1rem;
        padding-bottom: 1rem;

        article {
            width: 4rem;
            height: 4rem;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1.2rem;
            cursor: pointer;



        }

    }

    .contenedorCards {
        width: 100%;
      
        
    
        

        .tituloCards {
            display: flex;
            justify-content: space-between;
            margin-left: 1.4rem;
            font-size: 1.4em;
            font-weight: 700;
            padding-bottom: 2rem;

            h5 {
                padding-top: 0.2rem;
                margin-right: 0.7rem;
                cursor: pointer;
            }
        }

        .cards {
            display: flex;
            overflow-x: scroll;
            scrollbar-width: none;
            width: 100%;
            height: 300px;
            gap: 20px;
            /* padding: 1rem; */
            .card:first-child{
                margin-left: 1em;
            }
            .card:last-child{
                margin-right: 1em;
            }
            .card {

                width: 40%;
                height: 88%;
                flex: 0 0 18rem;

                .fotoCard {
                    width: 90%;
                    height: 80%;

                    border-radius: 2rem;
                }

                .descCard {
                    width: 100%;
                    height: 20%;

                    display: flex;
                    flex-direction: column;
                    padding-left: 0.5rem;
                }
            }
        }
    }
}

nav {
    
    width: 80%;
    height: 4rem;
    background-color: rgb(236, 236, 236);
    display: flex;
    position: fixed;
    align-items: center;
    left: 2.5rem;
    bottom: 1.5rem;
    justify-content: space-around;
    border-radius: 1rem;

    .iconosNav {
        background-color: rgb(236, 236, 236);
        color: grey;
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;



    }
}

a{
    text-decoration: none;
}
.color1 {
    color: var(--color-icono1);
    font-size: 2em;
}

.color2 {
    color: var(--color-icono2);
    font-size: 2em;
}

.color3 {
    color: var(--color-icono3);
    font-size: 2em;
}

.color4 {
    color: var(--color-icono4);
    font-size: 2em;

}

.sombreado1 {
    box-shadow: 0 0 15px -5px var(--color-icono1);
}

.sombreado2 {
    box-shadow: 0 0 15px -5px var(--color-icono2);
}

.sombreado3 {
    box-shadow: 0 0 15px -5px var(--color-icono3);
}

.sombreado4 {
    box-shadow: 0 0 15px -5px var(--color-icono4);
}

:root {
    --color-icono1: #1d3adf;
    --color-icono2: #1dd2df;
    --color-icono3: #fde617;
    --color-icono4: #13a8ff;
}
.sombra{
    box-shadow: 0 53px 188px 33px rgba(0, 0, 0, 0.273);
}



main{
   padding-bottom: 2rem;
}
@media (orientation=landscape) {
    .cards {


        overflow-x: scroll;
        scrollbar-width: thin !important;

        .card {
            .fotoCard:hover {
                transition: ease-in-out 700ms;
                transform: scale(1.03);
            }
        }
    }

    .contenedorIconos {


        article:hover {

            transition: ease-in-out 500ms;
            transform: scale(1.1);

        }

    }

    nav {

        .iconosNav:hover {

            cursor: pointer;
            color: blue;


        }
    }
}