<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/infoLugar.css">
    <link rel="stylesheet" href="../css/fawesome-all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Información</title>
</head>
<body>
    <header>
        <div class="botonAtras">
            <i class="fa-thin fa-circle-arrow-left"></i>
        </div>
        <div class="contenedorFavs">
            <article class="botonFavoritos"><i class="fa-solid fa-heart"></i></article>
        </div>
        <div class="imagen-header">
            <img src="../img/lugares/londres.jpg" alt="Imagen Tour Londres">
        </div>
    </header>

    <section class="contenido">
        <h2>London Tour</h2>
        <div class="rating">
            <span>⭐ 4.5</span>
            <span>🌡️ 16°C</span>
            <span>⏳ 5 hrs</span>
        </div>
        <p class="descripcion">
            London, the capital of England and the United Kingdom, is a 21st-century city with history stretching back to Roman times...
        </p>
        <div class="precio">
            <span>Total Price</span>
            <h3>$1999</h3>
        </div>
        <button class="boton-comprar">Book Now</button>
    </section>
</body>
</html>
