<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificaciones</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="../css/notificaciones.css">
</head>
<body>
    <header class="notifications-header">
        Notificaciones
    </header>
    <div class="notifications-container">
        
    </div>

    <nav class="navIcons">
        <a href="../views/paginaPrincipal.html" class="iconosNav material-symbols-outlined">home</a>
        <a href="../views/negocios.html" class="iconosNav material-symbols-outlined">business_center</a>
        <a href="../views/notificaciones.html" class="iconosNav material-symbols-outlined">notifications</a>
        <a href="../views/perfil.html" class="iconosNav material-symbols-outlined">person</a>
    </nav>

    <script src="../js/leerNotis.js"></script> 
</html>
